@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); */

@import "tailwindcss";


::-webkit-scrollbar{
    display: none;
}

body {
  font-family: 'Poppins', sans-serif;
}
.custom-shape-divider-bottom-1773023679 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1773023679 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 115px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1773023679 .shape-fill {
    fill: #FFFFFF;
}



.custom-shape-divider-top-1773023808 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1773023808 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 115px;
}

.custom-shape-divider-top-1773023808 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1773289195 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1773289195 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1773289195 .shape-fill {
    fill: #FFFFFF;
}


.box {
    
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background:black;
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin-top: 120px;
    
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.box::after, .box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--angle), blue);
    border-radius: 10px;
    padding: 3px;
    z-index: -1;
    animation: 3s spin linear infinite;
}

.box::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.dark{
    background-color: #0B0F19;
}

.light{
    background-color: #F9FAFB;
    transition: all;
    transition-duration: 400ms;
}

.dark, .light div{
    color:rgb(24, 24, 24);
    transition: all;
    transition-duration: 400ms;
}