@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); */

@import "tailwindcss";


::-webkit-scrollbar{
    display: none;
}

body {
  font-family: 'Poppins', sans-serif;
}
.custom-shape-divider-bottom-1773023679 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1773023679 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 115px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1773023679 .shape-fill {
    fill: #FFFFFF;
}



.custom-shape-divider-top-1773023808 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1773023808 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 115px;
}

.custom-shape-divider-top-1773023808 .shape-fill {
    fill: #FFFFFF;
}